doctype html
html
    head
        link(rel='stylesheet', href='/style/app.css')
        script(type='text/javascript', src='/lib/d3.v3.js')
        script(type='text/javascript', src='/js/app.js')
    body
        h1 BCD3
        div(id="block_data")
        div
            block content